
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

html, body {
  background-color: #fff;
  color: #636b6f;
  font-family: 'Nunito', sans-serif;
  font-weight: 200;
  height: 100vh;
  margin: 0;
}

.full-height {
  height: 100vh;
}

.flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

.position-ref {
  position: relative;
}

.top-right {
  position: absolute;
  right: 10px;
  top: 18px;
}

.content {
  text-align: center;
}

.title {
  font-size: 84px;
}

.links > a {
  color: #636b6f;
  padding: 0 25px;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: .1rem;
  text-decoration: none;
  text-transform: uppercase;
}

.m-b-md {
  margin-bottom: 30px;
}

@import url(https://fonts.googleapis.com/css?family=Lora);
body {
  margin: 0;
}

h2 {
  font-family: monospace;
  color: #606060;
}

ul {
  list-style: none;
  margin: 0 auto;
}

a {
  text-decoration: none;
  font-family: 'Lora', serif;
  transition: .5s linear;
}

i {
  margin-right: 10px;
}

.one ul {
  padding: 1em 0;
  background: #ECDAD6;
}

.one a {
  padding: 1em;
  background: rgba(177, 152, 145, .3);
  border-right: 1px solid #b19891;
  color: #695753;
}

.one a:hover {
  background: #b19891;
}

.one li {
  display: inline;
}

.two ul {
  background: #D4E7EE;
  overflow: hidden;
  padding: 0;
}

.two li {
  float: left;
}

.two a {
  display: block;
  padding: 1em;
  border-right: 1px solid #ADC0CE;
  background: rgba(173, 192, 206, .3);
  color: #29838C;
}

.two a:hover {
  background: #ADC0CE
}

.three ul {
  padding: 0;
  background: #E4EFD1;
}

.three li {
  display: inline-block;
}

.three a {
  padding: 1em;
  display: block;
  color: #74924C;
  border-right: 1px solid #BAD78B;
  background: rgba(186, 215, 139, .3);
}

.three a:hover {
  background: #BAD78B
}

.menu {
  background: #FFD7A7;
}

.four {
  display: flex;
  justify-content: space-between;
}

.four ul {
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 0;
  margin: 0;
}

.four li {
  min-width: 100px;
}

.four a {
  padding: 10px;
  display: block;
  color: #9B4222;
  border-right: 1px solid #FFAB51;
  background: rgba(255, 171, 81, .3);
  text-align: center;
}

.four a:hover {
  background: #FFAB51
}
